
@{
    ViewBag.Title = "QUẢN TRỊ HỆ THỐNG";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    Trang chủ
}


<html>
<head>
    <style type="text/css">
        .center {
            display: block;
            margin-left: 160px;
            margin-right: auto;
            width: 80%;
        }
    </style>
</head>

<body>
    <img src="~/assets/Admin/images/hieu.jpg" class="center"/>
</body>
</html>