<link href="~/assets/Admin/css/menu.css" rel="stylesheet">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <div class="navbar-brand" >
                    <a class="glyphicon glyphicon-home" style="line-height:0em;" href="/Home/Index">Home</a>
                </div>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li ><a href="/Admin/Images">Hình ảnh</a></li>
                    <li><a href="/Admin/Orders">Đơn hàng</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Danh mục <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Admin/products">Sản phẩm</a></li>
                            <li><a href="/Admin/ProductCategories">Loại sản phẩm </a></li>
                            <li><a href="#">Tin tức</a></li>
                            @*<li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">One more separated link</a></li>*@
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Giao diện <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Admin/products">Menu</a></li>
                            <li><a href="/Admin/Categories">Slider </a></li>
                            <li><a href="#">foother</a></li>
                            @*<li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">One more separated link</a></li>*@
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Người dùng <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Admin/Users">Thành viên</a></li>
                            <li><a href="/Admin/Categories">Phân quyền </a></li>
                            @*<li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">One more separated link</a></li>*@
                        </ul>
                    </li>
                </ul>
              
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
