@model List<DoAn.Models.CartItem>
<div class="cart">
    <p>
        Chào mừng bạn đến với website <span>Giỏ hàng:</span><div id="dd" class="wrapper-dropdown-2">
            <a href="gio-hang">@Model.Count sản phẩm</a>
        </div>
    </p>
</div>