@model   DoAn.Areas.Admin.Models.LoginModel
           
<!DOCTYPE html>
<html>
<head>
    <title>Đăng nhập</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Minimal Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    @*<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>*@
    <link href="/assets/Admin/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <!-- Custom Theme files -->
    <link href="/assets/Admin/css/style.css" rel='stylesheet' type='text/css' />
    <link href="/assets/Admin/css/font-awesome.css" rel="stylesheet">
    <script src="/assets/Admin/js/jquery.min.js"> </script>
    <script src="/assets/Admin/js/bootstrap.min.js"> </script>
</head>
<body>
    <div class="login">
        <h1><a href="index.html"><img src="~/assets/Admin/images/admin_login.gif"></a></h1>
        <div class="login-bottom">
            <h2>Đăng nhập hệ thống</h2>
@using (Html.BeginForm("Login", "Login", FormMethod.Post))
{
    @Html.ValidationSummary(false, "", new { @class = "text-danger" });
    <fieldset>
        <!-- Change this to a button or input when using this as a form -->
        <div class="col-md-6">
            <div class="login-mail">
                @Html.TextBoxFor(model => model.UserName, new { @*@class = "form-control"*@ @autofocus = "autofocus" })
                <i class="fa fa-envelope"></i>
            </div>
            <div class="login-mail">
                @Html.PasswordFor(model => model.Password, new { @*@class = "form-control"*@ })
                <i class="fa fa-lock"></i>
            </div>
            <a class="news-letter " href="#">
               @Html.CheckBoxFor(model => model.RememberMe) <label class="checkbox1">Ghi nhớ</label>
            </a>

        </div>
        <div class="col-md-6 login-do">
            <label class="hvr-shutter-in-horizontal login-sub">
                <input type="submit" value="Đăng nhập">
            </label>
            <p>Bạn chưa có tài khoản?</p>
            <a href="signup.html" class="hvr-shutter-in-horizontal">Đăng Ký</a>
        </div>
        <div class="clearfix"> </div>
    </fieldset>
}
               
        </div>
    </div>
    <!---->
    <div class="copy-right">
    </div>
    <!---->
    <!--scrolling js-->
    <script src="/assets/Admin/js/jquery.nicescroll.js"></script>
    <script src="/assets/Admin/js/scripts.js"></script>
    <!--//scrolling js-->
</body>
</html>


